/*
font-family: 'Quicksand', sans-serif;
font-family: 'Raleway', sans-serif;
*/

* {
    box-sizing: border-box;
  }
  
  p {
    color: white;
    text-align: center;
  }
  
  html{
    background: black;
  }
  
  body{
    background:black;
    border: none;
  }
  
  #submit-button,button{
    color: white;
    background-color: black;
    border: 1px solid white;
    font-size: 12px;
    font-family: 'Raleway', sans-serif;
  }
  
  
  #myForm{
    display: flex;
    justify-content: center;
    
  }
  
  input,select,button{
    margin-left: 2px;
    margin-right: 2px;
  }
  
  
  #giphy-header {
    height: 20px;
    width: 150px;
  }
  
  header{
    background: black;
    text-align: center;
    margin-top: 10px;
    padding-top: 23px;
    
  }
  
  h1{
    color: #FAFF00;
    font-family: 'Quicksand', sans-serif;
    font-size: 48px;
    
  }
  
  nav{
    padding: 1% 0;
    background: black;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    
  }
  li{
    
    margin-bottom: 50px;
    
  }
  
  
  .div-list {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    
  }
  
  
  .my-results-list{
    
    list-style-type: none;
    margin-top: 35px;
    padding-left: 5px;
    margin-left: auto;
    margin-right: auto;
  }
  
  
    
    
  
  li > img{
    border: 1px solid black;
    height: auto;
    max-width: 100%;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
    padding-right: 25px;
  }
  
  h2{
    text-align: center;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    line-height: 28px;
  }
  
  
  .image-flex{
    display: flex;
    justify-content: center;
    padding-bottom: 15px;
    align-items: center;
  }
  
  
  
  /*smartphones mobiles (portrait)*/
  @media (min-width: 300px) and (max-width: 480px){
  
  }
  
  
  /*low resolution tablets, mobiles (landscape)*/
  @media (min-width: 481px) and (max-width: 768px){
  
    li > img{
    
    padding-right: 5px;
    padding-left: 30px;
  }
  
  
   
  }
  
  
  
  /*tablets, ipads (portrait)*/
  @media (min-width: 768px) and (max-width: 1024px){
  
    #submit-button,button{
      font-size: 20px;
  }
  
   
  
  }
  
  
  /*tablets, ipads (landscape)*/
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape){
  
   
  }
  
  
  
  
  /*laptops, desktops*/
  @media (min-width: 1025px) and (max-width: 1280px){
  
  
  
  
  
  }
  
  
  
  
  
  /*desktops - higher resolution*/
  @media (min-width: 1281px){
  
    #submit-button,button{
      font-size: 20px;
    } 
  
    body{
      background: black;
    }
  
    .div-list {
    
    flex-direction: row;
    flex-wrap: wrap;
    
    
  }
  
  
  .my-results-list{
    
    list-style-type: none;
    margin-top: 35px;
    
    width: 100%;
  }
  
  .display-info{
    height: 25px;
    width: 90px;
    color: white;
    background: white;
    
  }
  
    
    
  
  img{
    border: 1px solid black;
    height: auto;
    max-width: 100%;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 1px;
    margin-right:1px;
    
  }
  
  li{
  
    display: inline;
   
   
  }
    
  }
  